<%- include header %>
<ul style="list-style:none">
<li><h3><a href="https://www.baidu.com">百度网</a></h3>请你支持</li>
<li><h3><a href="https://www.baidu.com">中大网</a></h3>请你支持</li>
</ul>
<%- include footer %>